dokument {
    font-family: 'Ubuntu', sans-serif;

}

tytuł {
    display: block;
    background-color: #373030;
    font-size: 30px;
    color: white;
    padding: 20px 10px 20px 10px;
    text-align: center;
    font-weight: bold;
}


anime_dane {
    display: grid;
	grid-template-columns: [col1] 350px [col2] 350px [col3] 600px [col4] 0;
	grid-template-rows: [r1] 162px [r2] 188px [r3] 120px [r4] auto [r5] 30px;
    padding: 0px 1em;
    margin: 60px auto auto;
    background-color: white;
    width: 1300px;
}

gatunki:before {
	display: block;
	content: "Gatunki:";
	font-size: 20px;
    font-weight: bold;
}

gatunki {
	display: block;
	grid-column-start: col1;
	grid-column-end: col2;
	grid-row-start: r1;
	grid-row-end: r3;
	padding-left: 40px;
    padding-top: 50px;
}

gatunki gatunek {
	display: list-item;
	list-style-type: square;
	list-style-position: inside;
}

gatunki gatunek:hover {
	color: #00BFFF;
}

typy:before {
	display: block;
	content: "Typy:";
	font-size: 20px;
    font-weight: bold;
}

typy {
	display: block;
	grid-column-start: col2;
	grid-column-end: col3;
	grid-row-start: r1;
	grid-row-end: r2;
	margin-left: 50px;
    margin-top: 50px;
}

typy typ {
	display: list-item;
	list-style-type: square;
	list-style-position: inside;
}

typy typ:hover {
	color: #00BFFF;
}

źródła:before {
	display: block;
	content: "Źródła:";
	font-size: 20px;
    font-weight: bold;
}

źródła {
	display: block;
	grid-column-start: col2;
	grid-column-end: col3;
	grid-row-start: r2;
	grid-row-end: r3;
	margin-left: 50px;
    margin-top: 50px;
}

źródła źródło {
	display: list-item;
	list-style-type: square;
	list-style-position: inside;
}

źródła źródło:hover {
	color: #00BFFF;
}

studia::before {
	display: table-caption;
	text-align: left;
	content: "Nazwa studia: \2001 \2001 \2001 \2001 \2001 \2001 \2001 \2001 \2001 Rok założenia: \2001 \2001 Liczba produkcji:";
	font-weight: bold;
}

studia {
	display: table;
	border-collapse: collapse;
	border: 1px solid black;
	grid-column-start: col3;
	grid-column-end: col4;
	grid-row-start: r1;
	grid-row-end: r3;
	width: 550px;
}

studia studio {
	display: table-row;
}

studia studio:nth-child(even) {
	background-color: #DDDDDD;
}

studia studio:hover {
	background-color: #555555;
	color: #FFFFFF;
}


studia studio nazwa_studia {
	display: table-cell;
	border: 1px solid black;
	width: 250px;
}

studia studio rok_założenia {
	display: table-cell;
	border: 1px solid black;
	text-align: center;
	width: 150px;
}

studia studio liczba_produkcji {
	display: table-cell;
	border: 1px solid black;
	text-align: center;
	width: 150px;
}

spis_anime {
    counter-reset: anime-counter;
	grid-column-start: col1;
	grid-column-end: col4;
	grid-row-start: r4;
	margin-top: 35px;

}

/* numer | informacje | Ocena */
/*----------------------------*/
/*       |            |       */
/* 1     | terefere   | 10.0  */
/*-------|------------|-------*/
/*       |            |       */
/*       |            |       */

animation {
    display: grid;
    grid-template-columns: [column1] 70px [column2] 420px [column3] auto [column4] 0px; 	
    grid-template-rows: [row1] 80px [row2] 100px;         						
    grid-column-gap: 70px;           
    margin: 10px 0px 10px 0px;              												
    border: 1px solid #efefef;              												
    box-shadow:                             												
                /* The top layer shadow */
            0 1px 1px rgba(0,0,0,0.15),     												
                /* The second layer */
            0 10px 0 -5px #eee;
    padding: 30px;

}

animation:hover {
	background-color: #D3D3D3;
}

animation::before {
    /* numbering */
    content: counter(anime-counter, decimal-leading-zero);
    counter-increment: anime-counter;
    font-size: 40px;
    background-color: #373030;
    color: white;
    padding: 15px 15px 15px 15px;
    margin-right: 55px;
    margin-left: -65px;
}

informacje {
	display: block;
	grid-column-start: column2;
	grid-column-end: column4;
	grid-row-start: row1;
	grid-row-end: row3;
	
}

nazwa,
nazwa_oryginalna,
animation typ_ref,
animation źródło_ref,
data_wydania,
lista_gatunków,
liczba_odcinków,
długość
{
    display: table-row;
}

nazwa::before {
    display: table-cell;
    width: 250px;
    content: "Nazwa: ";
    font-weight: bold;
}

nazwa_oryginalna {
    font-family: 'Sawarabi Gothic', sans-serif;
}

nazwa_oryginalna::before {
    display: table-cell;
    content: "Nazwa oryginalna: ";
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

animation typ_ref::before {
    display: table-cell;
    content: "Typ: ";
    font-weight: bold;
}

animation źródło_ref::before {
    display: table-cell;
    content: "Materiał źródłowy: ";
    font-weight: bold;
}

data_wydania::before {
    display: table-cell;
    content: "Data wydania: ";
    font-weight: bold;
}

data_wydania::after {
    content: attr(dzień) "-" attr(miesiąc) "-" attr(rok);
}

lista_gatunków::before {
    display: table-cell;
    content: "Gatunki: ";
    font-weight: bold;
}

lista_gatunków gatunek_ref {
    display: inline;
}

lista_gatunków gatunek_ref::after {
	content: "/";
}

lista_gatunków gatunek_ref:last-child::after {
	content: "";
}

długość::before {
    display: table-cell;
    content: "Długość: ";
    font-weight: bold;
}

długość::after {
    content: attr(jednostka) ".";
}

liczba_odcinków::before {
    display: table-cell;
    content: "Liczba odcinków: ";
    font-weight: bold;
}

liczba_odcinków::after {
    content: " odc. ";
}

ocena {
    display: block;
    grid-column-start: column3;
	grid-row-start: row2;
	margin-left: 30px;
	justify-self: center;
}

ocena::before {
    display: table-cell;
    content: "Ocena:";
    font-size: 30px;
    font-weight: normal;
    height: 50px;
    vertical-align: top;
}

średnia_ocena {
    display: table-row;
    width: 180px;
}

średnia_ocena::before {
    display: table-cell;
    content: "Średnia ocena: ";
    font-weight: bold;
    width: 180px;
}


moja_ocena {
    display: table-row;

}

moja_ocena::before {
    display: table-cell;
    content: "Moja ocena: ";
    font-weight: bold;
    width: 180px;
    height: 25px;
}

autorzy {
	display: block;
	margin: 20px 340px 15px 340px;
	border-radius: 70px;
	box-shadow: 0px 1px 2px #6B5F33;
	padding: 8px;
	background-color: #EEEEEE;
	text-align: center;
}

autorzy::before {
    content: "Autorzy: ";
    font-weight: bold;
	font-size: 24px;
}

autor {
    display: block;
}

autor:first-child {
	margin-top: 5px;
	margin-bottom: 10px;
}

imię, nazwisko {
	display: inline-block;
	font-size: 20px;
}

indeks {
	display: block;
}

autor::after {
	content: attr(specjalizacja);
}